{% extends "app/layout.html" %}

{% block content %}

<h2>聯繫我們</h2>
<h3>小組成員</h3>

<address>
    劉健彬<br />
    二資管三<br />
</address>
<address>
    趙爭爭<br />
    二資管三<br />
</address>
<address>
    王詩雨<br />
    二資管三<br />
</address>
<address>
    管博建<br />
    二資管三<br />
</address>
<address>
    溫凱峯<br />
    二資管三<br />
</address>
<address>
    李宜隆<br />
    四資管三<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:billyljb@gmail.com">billyljb@gmail.com</a><br />
</address>

{% endblock %}
